@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);




#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .navbar-brand {
  font-family: 'Oswald', sans-serif;
}
#menu-0 .nav-link {
  font-family: 'Oswald', sans-serif;
}
#header4-3 H1 {
  font-family: 'Raleway', sans-serif;
}
#slider-4 H2 {
  color: #da2f56;
  font-family: 'Indie Flower', cursive;
  text-align: left;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-b .mbr-section-title {
  color: #fff8e0;
}
